{% extends 'shopping_base.html' %}

{% block content%}

        <div class="container" style="margin-top: 120px;">
        <h3 class="category-header"  style="font-weight: normal">Your Cart</h3>
            <div class="cart-div" id="topp">
                {% for item in items %}
                <!-- Div for just one cart item-->
                <div class="cart-item-div" style="display: flex; flex-direction: row">
                    <!-- Div for cart info-->
                    <div class="cart-info-div">
                        <p class="cart-info-text" ><strong>{{item.name}}</strong> </p>
                        <p class="cart-info-text" >Size: {{item.size}}</p>
                        <p class="cart-info-text" >Toppings:{{item.toppings}}</p>
                    </div>
                    <!--Div for cart price-->
                    <div class="cart-price-div">
                        <h4 class="cart-price-text">${{item.total}} </h4>
                    </div>
                    <div class="navbar-nav ml-auto cart-del-div">
                        <button class="nav-link"> <i class="fas fa-trash-alt" id="trash-icon"></i></button>
                    </div>
                </div>
                {% empty %}
                    <div class="text-center">
                        <p> Your cart is empty, click add more to add items</p>
                    </div>
                {% endfor %}
            </div>

        <div>

        <div class="container">
            <div class="action-btns-div">
                <div class="action-link-nofill">
                    <a class="nav-link" href="{% url 'shopping' %}"> <h4 class="action-text"><i class="fas fa-angle-double-left"></i>Add more</h4></a>
                </div>

                <div class="action-link-fill">
                    <button class="nav-link" id="placeOrder"> <h4 class="action-text"><i class="fas fa-credit-card"></i>Place Order</h4></button>
                </div>
            <div>
        </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', ()=>{
            if({{items|length}} > 0){
                // There is at least one item
                document.getElementById("placeOrder").disabled = false
            }
            else{
                // There are no items, disable button
                document.getElementById("placeOrder").disabled = true
            }

            // When place order button is clicked
            $('#placeOrder').click(function(){
                // Make sure there are items in cart
                if({{items|length}} > 0){
                    // Allow
                    // Get all the necessary details
                    name = "{{user.first_name}} " + "{{user.last_name}}"
                    final_total = 0;
                    item_details =" "
                    counter = 0;
                    // Get all details of each item
                    {% for item in items %}
                        counter ++;
                        item_details = item_details + (counter.toString() + ". "+ "Name: {{item.name}}" +" Size: {{item.size}}" + " Toppings: {{item.toppings}}" + " || ")
                        var item_total = parseFloat("{{item.total|safe}} ", 10);
                        final_total = parseFloat(final_total + item_total);
                    {% endfor %}
                    // Send data to django server
                    const form_final = document.createElement('form');
                    form_final.method = "POST";
                    form_final.action = "{% url 'orders' user.username %}";
                    // Csrf {% csrf_token %}
                    var csrf = document.createElement('input');
                    csrf.type = 'hidden';
                    csrf.name = 'csrfmiddlewaretoken';
                    csrf.value = '{{ csrf_token }}';
                    form_final.appendChild(csrf);
                    var data_to_send = [name, item_details, final_total]
                    var key=["name", "items", "total"]
                    for (i=0; i<data_to_send.length; i++){
                        var input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = key[i];
                        input.value = data_to_send[i];
                        form_final.appendChild(input);
                    }
                    
                    document.getElementById('topp').appendChild(form_final);
                    form_final.submit();
                    alert("Placing Order...")

                }
                else{
                    // There are no items, disable button
                    alert("there are no items in your cart")
                }
            });



        });
        

    </script>

{% endblock %}