{% extends 'shopping_base.html' %}
{% block content%}
    <div class="container justify-content-center">

        <div class="mx-auto">
        
            <!-- Pizza Div-->
            <div id="pizza_div" class="category-div" style="margin-top: 120px">
                <h2 class="category-header">Pizzas</h2>
                <div class="flex-container">
                    {% for pizza in pizzas %}
                        <div class="menu-item">
                        <a class="menu-link" href="{% url 'buy' pizza.category pizza.name pizza.pk%}">
                            <!-- Main Menu item container -->
                            <div class="row item-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), 
                                                                                url( {{pizza.image.url}} );">
                                <div class="align-self-center item-info-div">
                                    <h4 class="item-title">{{pizza.category}} {{pizza.name}}</h4>
                                        {% for price in pizza_prices %}
                                            {% if pizza.name|add:" "|add:pizza.category in  price.name|stringformat:"s" %}
                                                <h4 class="item-price">Small: ${{price.price_small}}</h4>
                                                <h4 class="item-price">Large: ${{price.price_large}}</h4>
                                            {% endif %}
                                        {% endfor %}
                                    
                                </div>
                    
                            </div>
                        </a> 
                        </div>
                    
                    {% endfor %}
                    
                </div>
            </div>

            <!-- Subs Div-->
            <div class="category-div">
                <h2 class="category-header">Subs</h2>
                <div class="flex-container">
                    {% for sub in subs %}
                        <div class="menu-item">
                        <a class="menu-link" href="{% url 'buy' 'Sub' sub.name sub.pk%}">
                            <!-- Main Menu item container -->
                            <div class="row item-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), 
                                                                                url( {{sub.image.url}} );">
                                <div class="align-self-center item-info-div">
                                    <h4 class="item-title">{{sub.name}}</h4>
                                    <h4 class="item-price">Small: ${{sub.price_small}}</h4>
                                    <h4 class="item-price">Large: ${{sub.price_large}}</h4>
                                </div>
                    
                            </div>
                        </a> 
                        </div>
                    
                    {% endfor %}
                    
                </div>
            </div>

            <!-- Pasta Div-->
            <div class="category-div">
                <h2 class="category-header">Pastas</h2>
                <div class="flex-container">
                    {% for pasta in pastas %}
                        <div class="menu-item">
                        <a class="menu-link" href="{% url 'buy' pasta.category pasta.name pasta.pk%}">
                            <!-- Main Menu item container -->
                            <div class="row item-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), 
                                                                                url( {{pasta.image.url}} );">
                                <div class="align-self-center item-info-div">
                                    <h4 class="item-title">{{pasta.name}}</h4>
                                     {% for price in pasta_prices %}
                                            {% if pasta.name|add:" "|add:pasta.category in  price.name|stringformat:"s" %}
                                                <h4 class="item-price">${{price.price}}</h4>
                                                
                                            {% endif %}
                                    {% endfor %}
                                </div>
                    
                            </div>
                        </a> 
                        </div>
                    
                    {% endfor %}
                    
                </div>
            </div>

            <!-- Salads Div-->
            <div class="category-div">
                <h2 class="category-header">Salads</h2>
                <div class="flex-container">
                    {% for salad in salads %}
                        <div class="menu-item">
                        <a class="menu-link" href="{% url 'buy' 'Salads' salad.name salad.pk%}">
                            <!-- Main Menu item container -->
                            <div class="row item-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), 
                                                                                url( {{salad.image.url}} );">
                                <div class="align-self-center item-info-div">
                                    <h4 class="item-title">{{salad.name}}</h4>
                                    {% for price in salad_prices %}
                                            {% if salad.name|add:" "|add:salad.category in  price.name|stringformat:"s" %}
                                                <h4 class="item-price">${{price.price}}</h4>
                                                
                                            {% endif %}
                                    {% endfor %}
                                </div>
                    
                            </div>
                        </a> 
                        </div>
                    
                    {% endfor %}
                    
                </div>
            </div>

            <!-- Dinner Platters-->
            <div class="category-div">
                <h2 class="category-header">Dinner Platters</h2>
                <div class="flex-container">
                    {% for dinner_platter in dinner_platters %}
                        <div class="menu-item">
                        <a class="menu-link" href="{% url 'buy' 'Dinner platters' dinner_platter.name dinner_platter.pk%}">
                            <!-- Main Menu item container -->
                            <div class="row item-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), 
                                                                                url( {{dinner_platter.image.url}} );">
                                <div class="align-self-center item-info-div">
                                    <h4 class="item-title">{{dinner_platter.name}}</h4>
                                    {% for price in dinner_prices %}
                                            {% if dinner_platter.name|add:" "|add:dinner_platter.category in  price.name|stringformat:"s" %}
                                                <h4 class="item-price">Small: ${{price.price_small}}</h4>
                                                <h4 class="item-price">Large: ${{price.price_large}}</h4>
                                            {% endif %}
                                    {% endfor %}
                                </div>
                    
                            </div>
                        </a> 
                        </div>
                    
                    {% endfor %}
                    
                </div>
            </div>

        </div>
    </div>


{% endblock %}