{% extends 'shopping_base.html' %}

{% block content%}

    <div class="container" style="margin-top: 120px;">
        <h3 class="category-header" style="font-weight: normal">Your Orders</h3>
            <div class="cart-div">
                {% for item in items %}
                <!-- Div for just one cart item-->
                <div id="topp" class="cart-item-div" style="display: flex; flex-direction: row">
                    <!-- Div for cart info-->
                    <div class="cart-info-div">
                        <p class="cart-info-text" ><strong>{{item.name}}</strong> </p>
                        <p class="cart-info-text" >Order Details: {{item.items}}</p>
                    </div>
                    <!--Div for cart price-->
                    <div class="cart-price-div">
                        <h4 class="cart-price-text">${{item.total_amount}} </h4>
                    </div>
                    <div class="navbar-nav ml-auto cart-del-div">
                        <button id="{{item.pk}}" class="nav-link"> <i class="fas fa-trash-alt" id="deleteButton" 
                            style="color: #A5422E; font-size: 25px; margin-left: 5px;"></i></button>
                    </div>
                </div>
                {% empty %}
                    <div class="text-center">
                        <p> Your orders list is empty</p>
                    </div>

                {% endfor %}
            </div>

        <div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', ()=>{
            deleteButtons = document.querySelectorAll("#deleteButton");
                for(var i = 0; i<deleteButtons.length; i++) {
                    $(deleteButtons[i]).click(function(e){
                        var id= e.target.parentNode.id.toString();
                        // Send data to delete item
                        const form_final = document.createElement('form');
                        form_final.method = "POST";
                        form_final.action = "{% url 'delete_order' user.username %}";
                        // Csrf {% csrf_token %}
                        var csrf = document.createElement('input');
                        csrf.type = 'hidden';
                        csrf.name = 'csrfmiddlewaretoken';
                        csrf.value = '{{ csrf_token }}';
                        form_final.appendChild(csrf);
                        var data_to_send = [id]
                        var key=["delete"]
                        for (i=0; i<data_to_send.length; i++){
                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = key[i];
                            input.value = data_to_send[i];
                            form_final.appendChild(input);
                        }
                        
                        document.getElementById('topp').appendChild(form_final);
                        form_final.submit();
                        alert("Deleting Order...")
                        })

                }
        })
    </script>


{% endblock %}